FermatManifest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fermat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="platforms">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="platform" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dependencies" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dependency" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="code" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="layer" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="libraries" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="library" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="authors">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="scope" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="percentage" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="maintainers">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="maintainer" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="certifications"/>
                                      <xs:element name="life_cycle" minOccurs="0">
                                        <xs:complexType>
                                          <xs:choice maxOccurs="unbounded" minOccurs="0">
                                            <xs:element name="status">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:date" name="reached" use="optional"/>
                                                    <xs:attribute type="xs:date" name="target" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                    <xs:attribute type="xs:byte" name="difficulty" use="optional"/>
                                    <xs:attribute type="xs:string" name="code-level" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="androids" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="android" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="authors">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="scope" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="percentage" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="maintainers">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="maintainer" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="certifications"/>
                                      <xs:element name="screenshots" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="screenshot"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                    <xs:attribute type="xs:byte" name="difficulty" use="optional"/>
                                    <xs:attribute type="xs:string" name="code-level" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="plugins" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="plugin" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="authors">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="scope" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="percentage" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="maintainers">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="maintainer" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="certifications">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="certification" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="signed-by" use="optional"/>
                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                    <xs:attribute type="xs:byte" name="difficulty" use="optional"/>
                                    <xs:attribute type="xs:string" name="code-level" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="addons" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="addon" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="authors">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="scope" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="percentage" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="maintainers">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="maintainer" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="certifications"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                    <xs:attribute type="xs:byte" name="difficulty" use="optional"/>
                                    <xs:attribute type="xs:string" name="code-level" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="language" use="optional"/>
                        <xs:attribute type="xs:string" name="super_layer" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="code" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="logo" use="optional"/>
                  <xs:attribute type="xs:string" name="dependsOn" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="super_layers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="super_layer" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="layer" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="plugins" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="plugin" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="authors">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="scope" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="percentage" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="maintainers">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="maintainer" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="certifications"/>
                                      <xs:element name="life_cycle" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="status" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:date" name="reached" use="optional"/>
                                                    <xs:attribute type="xs:date" name="target" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                    <xs:attribute type="xs:byte" name="difficulty" use="optional"/>
                                    <xs:attribute type="xs:string" name="code-level" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="addons" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="addon" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="authors">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="scope" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="percentage" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="maintainers">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="maintainer" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="certifications">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="certification" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                    <xs:attribute type="xs:string" name="signed-by" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="life_cycle" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="status" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:date" name="reached" use="optional"/>
                                                    <xs:attribute type="xs:date" name="target" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                    <xs:attribute type="xs:byte" name="difficulty" use="optional"/>
                                    <xs:attribute type="xs:string" name="code-level" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="language" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="code" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="dependsOn" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="layers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="layer" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>separator or empty layer  separator or empty layer  separator or empty layer  separator or empty layer  separator or empty layer  separator or empty layer  separator or empty layer</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="language" use="optional"/>
                      <xs:attribute type="xs:string" name="super_layer" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="processes">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="process">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="step" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="next">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="step">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                        <xs:attribute type="xs:string" name="title" use="optional"/>
                        <xs:attribute type="xs:string" name="description" use="optional"/>
                        <xs:attribute type="xs:string" name="platform" use="optional"/>
                        <xs:attribute type="xs:string" name="superlayer" use="optional"/>
                        <xs:attribute type="xs:string" name="layer" use="optional"/>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="component" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="steps" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="step" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="next" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="step">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:byte" name="id" use="optional"/>
                                              <xs:attribute type="xs:string" name="type" use="optional"/>
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="id" use="optional"/>
                              <xs:attribute type="xs:string" name="title" use="optional"/>
                              <xs:attribute type="xs:string" name="description" use="optional"/>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                              <xs:attribute type="xs:string" name="component" use="optional"/>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                              <xs:attribute type="xs:string" name="layer" use="optional"/>
                              <xs:attribute type="xs:string" name="platform" use="optional"/>
                              <xs:attribute type="xs:string" name="superlayer" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="platform" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="description" use="optional"/>
                  <xs:attribute type="xs:string" name="previous" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
